<md-content layout="row" layout-wrap style="background-color:#DCDCDC">
    <div flex="100" flex-gt-xs="45" layout="column">
        <md-card>
            <img ng-src="{{ vm.restaurant.picture }}" alt="{{ vm.restaurant.name }}" class="md-card-image">
            <md-card-title>
              <md-card-title-text>
                <h2 class="md-headline">{{ vm.restaurant.name }}</h2>
                <small>{{ vm.restaurant.type.join(', ') }}</small>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    <strong>{{ vm.restaurant.address }}</strong>
                    <br>
                    <span>{{ vm.restaurant.hours.text }}</span>
                </p>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
              <md-card-title-text>
                <h2 class="md-headline">Leave a review
                <br>
                <small>for {{ vm.restaurant.name }}</small></h2>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <form name="reviewForm" ng-submit="vm.saveReview(vm.newReview.rating, vm.newReview.comment)" novalidate>
                    <md-input-container class="md-block" md-is-error="vm.reviewForm.$submitted && vm.reviewForm.name.$invalid">
                        <label>Name (required)</label>
                        <input type="text" name="name" id="name" ng-model="vm.newReview.name" required/>
                        <div ng-messages="vm.reviewForm.name.$error" ng-if="vm.reviewForm.$submitted && vm.reviewForm.name.$invalid">
                          <p ng-message="required">Name is required.</p>
                        </div>
                    </md-input-container>

                    <!-- ToDo: Reescribir este componente para escoger estrellitas :P (un selector sería lo mas facil) -->
                    <md-input-container class="md-block">
                        <label>Rating</label>
                        <input type="number" max="5" min="1" name="rating" id="rating" ng-model="vm.newReview.rating">
                        <div ng-messages="vm.reviewForm.rating.$error">
                          <p ng-message="required">Rating is required.</p>
                          <p ng-message="max">The maximum rating is 5 stars.</p>
                          <p ng-message="min">The minimum rating is 1 star.</p>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" md-is-error="vm.reviewForm.$submitted && vm.reviewForm.comment.$invalid">
                        <label>Comment (required)</label>
                        <textarea name="comment" id="comment" ng-model="vm.newReview.comment" required></textarea>
                        <div ng-messages="vm.reviewForm.comment.$error" ng-if="vm.reviewForm.$submitted && vm.reviewForm.comment.$invalid">
                          <p ng-message="required">Comment is required.</p>
                        </div>
                    </md-input-container>

                    <md-button type="submit" class="md-primary md-raised" aria-label="Send" ng-disabled="reviewForm.$invalid">Send</md-button>
                    <md-button aria-label="Cancel" ng-click="vm.clearForm()">Clear</md-button>
                </form>

            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-gt-xs="50" layout="column">
        <md-card flex>
            <md-card-title style="flex-grow: 0.15">
              <md-card-title-text>
                <h2 class="md-headline reviews-title" tabindex="-1">Reviews</h2>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="review in vm.restaurant.reviews">
                        <div class="md-list-item-text" layout="column" style="padding-top: 10px; padding-bottom: 10px;">
                            <div layout="row">
                                <img ng-src="{{review.avatar}}" class="md-avatar" alt="{{review.reviewer}} avatar" />
                                <div layout="column">
                                    <h3>{{ review.reviewer }}</h3>
                                    <h4>
                                    <span aria-label="Rating" aria-value="{{review.rating}}">
                                        <ng-md-icon ng-repeat="a in vm.getNumber(review.rating) track by $index" icon="star"></ng-md-icon>
                                    </span>
                                    <small>{{ review.timestamp | date }}</small></h4>
                                </div>
                            </div>
                            <p>{{ review.comment }}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</md-content>
